.card{
  
    border: none;
    width:500px;
    padding:40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: hsla(205,46%,30%,1);
    background: linear-gradient(90deg,hsla(205,46%,30%,1) 0%, hsla(260,29%,36%,1) 100%); 

}
.card h1,h6{
    color:#fff;
}
label{
    color:#fff;
}
.imgset{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../../assets/img/train3.jpg");
    background-size: cover;
    width: 1550px;
    height: 750px;
    background-position: center center;
    background-repeat: no-repeat;   
}